.slide {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 90%;
  height: 85%;
  font-family: "rockwell";
}

// Slide 0

#react-main-title {
  display: block;
  margin: 0 auto;
  width: 20%;
}

#redux-main-title {
  text-align: center;
  h1 {
    font-size: 6em;
    margin: 0 auto;
  }
}

#main-subtitle {
  font-size: 2em;
  font-style: italic;
  text-align: center;
}

#title-expandium-logo {
  position: absolute;
  width: 20%;
  right: -3%;
  bottom: 30px;
}

.title {
  margin-left: 25px;
  font-size: 40px;
}

#content {
  display: flex;
  width: inherit;
  height: inherit;
  margin: 0 auto;
  white-space: nowrap;

  // Slide 1

  #left {
    display: flex;
    margin: auto;

    #react-logo-extended {
      width: 90%;
      height: 90%;
    }
  }

  #facts {
    margin: auto;
    font-size: 2em;
  }

  // Slide 2

  #slide2 {
    display: flex;
    margin: auto;

    .left {
      margin: auto;
    }

    .right {
      margin: auto;
      font-size: 2em;
      margin-left: 50px;
    }

    .react_component1 {
      border: 2px solid red;
      padding: 5px;
    }

    .react_component2 {
      border: 2px solid blue;
      padding: 5px;
    }

    .react_component3 {
      border: 2px solid green;
      padding: 5px;
    }
  }

  #slide3 {
    display: flex;
    margin: auto;

    .left {
      margin: auto;
    }

    .right {
      margin: auto;
      font-size: 2em;
      margin-left: 50px;
    }
  }

  #slide4 {
    margin-top: 15px;
    text-align: center;
    img {
      width: 85%;
    }
  }

  #slide5, #slide7, #slide8 {
    width: 100%;
    text-align: center;

    img {
      margin-top: 10%;
      width: 100%;
    }
  }

  #slide9 {
    width: 100%;
    text-align: center;

    img {
      width: 60%;
    }
  }

  #slide6 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      font-size: 6em;
      margin: 0 auto;
      text-align: center;
      white-space: normal;
    }
  }
}
